
body {
    background-color: #b9d3ee;
    margin: 0;    
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1d2d44;
    color: #6c7b8b;
}

#nomeFixo {
    text-align: center;
}

#nomePortifolio {
    text-align: left;
    margin-left: 10px;
}

article {
    width: 75%;
    position: relative;
    top: 150px;
    margin-left: 5px;
}

.posicaoArtigo {
    width: 500px;
    position: absolute;
    top: 90px;
    left: 250px;
}
#posicaotituloArtigo {
    position: absolute;
    top: 50px;
    left: 250px;
}
#fotoCecilia {

}

.subTitulos {

}

#textoPrincipal {
    
}

section {
    width: 75%;
    position: relative;
    top: 200px;
    margin-left: 10px;
}

nav {
    background-color: #1d2d44;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 120px;
    left: 1050px;
    padding-left: 20px;
    color: #6c7b8b;
}

footer {
    background-color: #1d2d44;
    text-align: center;
    position: relative;
    top: 400px;
    padding: 3px;
}





