
body {background-color: #b9d3ee}
            
.nomeTitulo {color: #0d1321; font-family: 'Amiri'; }

    div h2.nomeTitulo{
        margin:10px;
        margin-top: 20px;
        
    }
    div h1.nomeTitulo{
        text-align: center;
        background-attachment: ;
        }


.nomeSubTitulos {color: white ; font-size: 30px;}
       div.alinhamentoSubTitulos {
           margin: 20px;
           background-color: #1d2d44
           ;
       }


.textoSobreMim {color: #1d2d44; font-family: 'serif';}
        div p.textoSobreMim{
            width: 400px;
            margin: 10px;
            position: absolute;
            left: 240px;
            top: 250px ;
            
        }
        div p.sobreMim{
            position: absolute;
            left:250px;
            top:180px;
            background-color: #1d2d44;
            }

div img{
    margin:20px;
    padding: 5px 5px 5px 5px;
    background-color: #0d1321;
}


.textoLinkRedeSocial { 
    text-decoration: none;
     color: #1d2d44; 
     font-family: 'serif' ;
     margin: 20px;
     font-size: 20px;
    }

    div.bordaLink:hover {
        border: 1px solid; color: #36648b;
    }
    div.bordaLink:active{
        background-color: #36648b;
    }

    


.textoLinkLista{ text-decoration: none; color: #1d2d44; font-family: 'serif'}
    li.bordaLink:hover{
        border: 1px solid; color: #36648b;
    }
    li.bordaLink:active{
        background-color: #36648b;
    }
    

.textoLista{color: #1d2d44; font-family: 'serif'; font-size: 20px ;}


ul li:nth-child(odd){
    font-weight: bolder;
}






