
body {
    background-color: #b9d3ee;
    margin: 0;    
    color: #363636;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #CAE1FF;
    color: #363636;
}

#nomeFixo {
    text-align: center;
}

#nomePortifolio {
    text-align: left;
    margin-left: 10px;
}

article {
    width: 75%;
    position: relative;
    top: 150px;
    margin-left: 5px;
}

.posicaoArtigo {
    width: 500px;
    position: absolute;
    top: 90px;
    left: 250px;
}
#posicaotituloArtigo {
    position: absolute;
    top: 50px;
    left: 250px;
}
#fotoCecilia {

}

.subTitulos {

}

#textoPrincipal {
    
}

section {
    width: 75%;
    position: relative;
    top: 200px;
    margin-left: 10px;
}

nav {
    background-color: #CAE1FF;
    width: 180px;
    height: 100%;
    position: fixed;
    top: 120px;
    left: 1080px;
    padding-left: 20px;
    color: #363636;
}

footer {
    background-color: #CAE1FF;
    color: #363636;
    text-align: center;
    position: relative;
    top: 400px;
    padding: 3px;
}

a:link {
    text-decoration: none;
    color:#363636
}

a:visited {
    color:#363636
}

a:hover {
    color: black;
}

a:active {
    background-color: #b9d3ee;
}



